* {
  margin: 0%;
  padding: 0%;
}
div {
  margin: auto;
  margin-top: 10px;
  width: 50%;
  border: 3px solid black;
  padding: 20px;
  height: fit-content;
  padding-bottom: 10%;
  justify-content: center;
  text-align: center;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 1);
  background-color: #ffba08;
}
body {
  background-color: rgba(239, 255, 254, 0.979);
}
h2 {
  margin-top: 20px;
}
.button {
  background-color: #001524; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button1 {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
h1,
h2 {
  font-family: "Zen Dots", cursive;
}
p {
  font-size: 1rem;
}
input {
  padding: 4px;
  font-size: 1.5rem;
  background-color: #cecbdf;
}
.text {
  display: none;
}
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
    display: none;
  }
  .text {
    text-align: center;
    display: block;
  }
  .text {
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    font-family: "Zen Dots", cursive;

    font-size: 3em;
    font-weight: 700;
    color: #000000;
    text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
      1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191,
      1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191,
      1px 10px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4),
      1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
      1px 30px 60px rgba(16, 16, 16, 0.4);
  }

  div {
    padding-bottom: 20%;
    width: 100%;
  }
  .totalReturns {
    margin: auto;
  }
  p {
    font-size: 1rem;
  }
  input {
    padding: 0px;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 320px) {
  h1 {
    font-size: 1.5rem;
  }
  div {
    padding-bottom: 20%;
    width: 100%;
  }
  .totalReturns {
    margin: auto;
    padding-top: 5%;
  }
  p {
    font-size: 1.5rem;
    width: 100%;
    float: none;
    margin: auto;
  }
  input {
    padding: 0px;
    font-size: 1rem;
  }
}
